.conference-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    border-radius: 0;
    border: 1px solid #8080804d;
}
.upcoming-conference{
    background-color: white;
    padding:80px 0 100px;
}
.upcoming-conference h2{
    color: #ee0034;
    font-size: 32px;
    padding-bottom: 20px;
}


.months li{
    padding: 5px 10px;
    width: fit-content;
    background-color: white;
    border: 1.5px solid #ee0034;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease;
}
.months li:hover{
    background-color: #ee0034;
    color: white;
}

.category-conferences{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.single-conference{
    padding: 20px 0;
    border-bottom: 1px solid #8080801f;
}
.single-conference h3{
    font-size: 25px;
    font-weight: 600;
}

.navigation{
    list-style: none;
    display: flex;
    border: 1px solid #8080804d;
    border-radius: 4px;

}

.navigation li:not(:last-child) {
    border-right: 1px solid #8080804d;
}
.navigation li{
    padding: 0 10px;
    transition: all .3s ease;
}

.navigation li:hover{
    background-color: #ee0034;
    color: white;
    
}

@media (max-width: 768px) {
    .months{
        white-space: nowrap;
        width: 100%;
        display: flex;
        gap: 12px;
        list-style: none;
        overflow: scroll;
        
      }
    
      .single-conference h3{
        font-size: 18px;
    }
}